.addCard {
    background-color: darkslategray;
    font-weight: 400;
    color: aliceblue;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
body{
    text-align: center;
}
.addCard input {
    width: 20%;
    height: 20px;
    margin-right: 10px;
    padding-left: 20px;
}
.addCard button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
}
.todos {
    background-color: white;
    border-radius: 5px;
    text-align: left;
    margin-top: 25px;
    align-items: left;
}